<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>patientServlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dloginServlet</servlet-name>
        <servlet-class>doctorServlet.dloginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelAppointment</servlet-name>
        <servlet-class>doctorServlet.cancelAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>availibility</servlet-name>
        <servlet-class>doctorServlet.availibility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAppointments</servlet-name>
        <servlet-class>doctorServlet.showAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutPackage.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aloginServlet</servlet-name>
        <servlet-class>adminServlet.aloginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admn_deleteDoctor</servlet-name>
        <servlet-class>adminServlet.admn_deleteDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admn_insertDoctor</servlet-name>
        <servlet-class>adminServlet.admn_insertDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admn_insertPatient</servlet-name>
        <servlet-class>adminServlet.admn_insertPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appointment_patientServlet</servlet-name>
        <servlet-class>patientServlet.appointment_patientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_appoint_patientServlet</servlet-name>
        <servlet-class>patientServlet.delete_appoint_patientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_availableServlet</servlet-name>
        <servlet-class>patientServlet.patient_availableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dloginServlet</servlet-name>
        <url-pattern>/dloginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelAppointment</servlet-name>
        <url-pattern>/cancelAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>availibility</servlet-name>
        <url-pattern>/availibility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAppointments</servlet-name>
        <url-pattern>/showAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aloginServlet</servlet-name>
        <url-pattern>/aloginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admn_deleteDoctor</servlet-name>
        <url-pattern>/admn_deleteDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admn_insertDoctor</servlet-name>
        <url-pattern>/admn_insertDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admn_insertPatient</servlet-name>
        <url-pattern>/admn_insertPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appointment_patientServlet</servlet-name>
        <url-pattern>/appointment_patientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_appoint_patientServlet</servlet-name>
        <url-pattern>/delete_appoint_patientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_availableServlet</servlet-name>
        <url-pattern>/patient_availableServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Connection Pool</description>
        <res-ref-name>jdbc/LiveDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
